@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.container {
  font-size: 16px; }

.top-half {
  background-color: #02C3BD;
  height: 50vh;
  width: 100vw;
  border: solid thin black;
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  word-wrap: break-word;
  display: flex;
  align-items: flex-end; }

.top-half span {
  width: 14em; }

.bottom-half {
  background-color: #03221f;
  height: 50vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: #bdd4d8;
  font-size: 4rem;
  display: flex;
  align-items: flex-start; }
